## Analiza zarobków analityków danych i zawodów pokrewnych na świecie z podziałem na stanowiska. 

#### Spis treści:
- []
- [Wnioski](#wnioski)

Górski Szymon, Szura Michał, Stano Paweł

TODO:
- read csv do dataframe
- clean data (sprawdzic w wykladzie) na przyklad dropnan/inan (opcjonalnie usunięcie wartości skrajnych)
- analiza: group by (np country/stanowisko/firma) + miary tendencji centralnej (oda, mediana, średnia)
- Wykres do powyzszego.

jak zdążymy:
- analiza wewnątrze dla wybranego przez usera kraj (np breakdown by stanowisko/firma)
- analiza per firma niezależnie od kraju
- analiza per stanowisko
- zaczynamy od pisania tego w funkcjach, jak zdążymy wrzucamy fnkcje na metody wewnętrzne obietu

In [1]:
import pandas as pd
import csv
import unicodedata
salary_file = r'.\salaries.csv'
dataset = []
with open(salary_file, newline='', encoding ='utf-8') as csvfile:
    spamreader = csv.reader(csvfile,delimiter='\t', quotechar=u'\xa0')
    for row in spamreader:
        row = [unicodedata.normalize('NFC',i)  for i in row]
        dataset.append(row)


salaries_df = pd.DataFrame(columns = dataset[0][:-1], data = dataset[1:])
salaries_df.head(25)

,role,country,company,company_rating,job_title,median,low,high,unit
0,Data Scientist,Japan,CTW,2.9,Data Scientist,"¥1,500,000",¥1M,¥18M,/yr
1,Data Scientist,Japan,FUJIFILM,3.7,Data Scientist,"¥5,000,000",¥5M,¥7M,/yr
2,Data Scientist,Japan,GMO Internet,3.3,Data Scientist,"¥6,500,000",¥7M,-,/yr
3,Data Scientist,Japan,Data4Cʼs,3,Data Scientist,"¥350,000",¥300K,¥402K,/mo
4,Data Scientist,Japan,Deloitte,4,Data Scientist,"¥6,250,000",¥5M,¥8M,/yr
5,Data Scientist,Japan,Indeed,4.1,Data Scientist,"¥20,500,000",¥20M,¥21M,/yr
6,Data Scientist,Japan,Microsoft,4.3,Data Scientist,"¥650,000",¥300K,¥1M,/mo
7,Data Scientist,Japan,EY,3.8,Data Scientist,"¥708,333",¥417K,¥1M,/mo
8,Data Scientist,Japan,LINE,3.9,Data Scientist,"¥9,750,000",¥8M,¥12M,/yr
9,Data Scientist,Japan,Fujitsu,3.7,Data Scientist,"¥8,750,000",¥8M,¥10M,/yr
10,Data Scientist,Japan,NTT DATA,3.9,Data Scientist,"¥7,750,000",¥8M,¥8M,/yr
11,Data Scientist,Japan,SBI Holdings,3.2,Data Scientist,"¥4,750,000",¥5M,¥5M,/yr
12,Data Scientist,Japan,SmartNews,2.9,Data Scientist,"¥12,750,000",¥12M,¥14M,/yr
13,Data Scientist,Japan,NTT Corporation,3.5,Data Scientist,"¥5,500,000",¥5M,¥6M,/yr
14,Data Scientist,Japan,Honda,4,Data Scientist,"¥8,300,000",¥7M,¥10M,/yr
15,Data Scientist,Japan,Hello-Sensei,4.5,Data Scientist,"¥3,011",¥3K,¥3K,/hr
16,Data Scientist,Japan,Human Resocia,2.6,Data Scientist,"¥6,619",¥1K,¥12K,/hr
17,Data Scientist,Japan,Recruit (Japan),4.1,Data Scientist,"¥2,615,417",¥400K,¥5M,/mo
18,Data Scientist,Japan,AIG,3.7,Data Scientist,"¥853,333",¥767K,¥940K,/mo
19,Data Scientist,Japan,Nextremer,3.2,Data Scientist,"¥448,841",¥429K,¥469K,/mo
20,Data Scientist,Japan,PayPal,3.8,Data Scientist,"¥5,500,000",¥5M,¥6M,/yr
21,Data Scientist,Japan,Japan Data Science Consortium,2.4,Data Scientist,"¥398,624",¥383K,¥414K,/mo
22,Data Scientist,Japan,Manulife,3.9,Data Scientist,"¥8,550,000",¥8M,¥9M,/yr
23,Data Scientist,Japan,Atrae,5,Data Scientist,"¥297,854",¥287K,¥309K,/mo
24,Data Scientist,Japan,JSOL,3.1,Data Scientist,"¥351,430",¥339K,¥364K,/mo

In [28]:
import requests as re

class ExchangeProvider:
    currencies = {}

    def __init__(self, tables_wanted):
        for table_name in tables_wanted:
            json_nbp_curr = re.get(f"http://api.nbp.pl/api/exchangerates/tables/{table_name}/last/1/?format=json").json()
            for rate in json_nbp_curr[0]['rates']:
                self.currencies[rate['code']] = rate['mid']

    def get_rate(self, from_currency, to_currency):
        if from_currency == to_currency:
            return 1

        from_rate = 0
        to_rate = 0

        if to_currency == "PLN":
            return  self.currencies[from_currency]
        elif from_currency == "PLN":
            return 1 / self.currencies[to_currency]
        else:
            try:
                from_rate = self.currencies[from_currency]
            except Exception as e:
                print(f"kurwa{e}")
            
            try:
                to_rate = self.currencies[to_currency]
            except Exception as e:
                print(f"kurwa1{e}")
            
            return from_rate / to_rate

In [29]:
exchange_provider = ExchangeProvider(["a", "b"])

0.23078165747386398

### Wnioski